<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
              </ion-buttons>
    <ion-title>tests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
            <ion-card-subtitle>Eye report</ion-card-subtitle>
            <ion-icon slot="end" name="arrow-down"></ion-icon>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-card-subtitle>Blood report</ion-card-subtitle>
            <ion-icon slot="end" name="arrow-down"></ion-icon>
        </ion-item>
    </ion-card>
</ion-content>
