<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-card>
          <ion-card-header>
            <ion-card-subtitle>NAME</ion-card-subtitle>
            <ion-card-title>ABC</ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>DOB</ion-card-subtitle>
              <ion-card-title>DD/MM/YYYY</ion-card-title>
            </ion-card-header>
          </ion-card>
          <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Gender</ion-card-subtitle>
                <ion-card-title>X</ion-card-title>
              </ion-card-header>
            </ion-card>

            <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Blood Group </ion-card-subtitle>
                  <ion-card-title>ABC</ion-card-title>
                </ion-card-header>
              </ion-card>
              <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Phone no</ion-card-subtitle>
                    <ion-card-title>ABC</ion-card-title>
                  </ion-card-header>
                </ion-card>

                <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>Email</ion-card-subtitle>
                      <ion-card-title>ABC</ion-card-title>
                    </ion-card-header>
                  </ion-card>
  </ion-list>
</ion-content>
